.select2-container .select2-selection--single{
	height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
}

.error {
    color: #F00;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.file-reader-append-image-show {
	width: 100px; 
	height: 100px; 
	margin-top: 18px; 
	display: inline-block;  
	margin-left: 10px
}

.remove-cursor {
	cursor : pointer;
	color  : red;
}

.image-show {
	width: 100px;
	height: 100px
}

.product-show-li {
	float: left; 
    margin-left: 5px;
}

.row-product-image-show {
	float: left; 
	margin-left: 8px; 
	margin-top: 18px;
}